<?xml version="1.0" encoding="utf-8"?>

<website>
	<tab name="GLM" href="http://glm.g-truc.net" active="yes" />
	<tab name="GLI" href="http://gli.g-truc.net" active="no" />
	<!--tab name="GLO" href="http://glo.g-truc.net" active="no" />
	<tab name="GLU" href="http://glu.g-truc.net" active="no" /-->

	<version value="0.9.8">
		<menu>
			<menu-entry name="Manual" href="../0.9.8/glm-0.9.8.pdf" />
			<menu-entry name="API Documentation" href="../0.9.8/api/index.html" />
			<menu-entry name="Wiki" href="https://github.com/g-truc/glm/wiki" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/tags" />
			<menu-entry name="Report Bug" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Code Snapshot" href="https://github.com/g-truc/glm/archive/master.zip" />
			<menu-image name="Build Status" href="https://drone.io/github.com/g-truc/glm" img="https://drone.io/github.com/g-truc/glm/status.png" />
		</menu>

		<menu>
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="GLSL Specification" href="https://www.opengl.org/registry/doc/GLSLangSpec.4.50.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
		</menu>
	</version>

	<version value="0.9.7">
		<menu>
			<menu-entry name="Manual" href="../0.9.7/glm-0.9.7.pdf" />
			<menu-entry name="API Documentation" href="../0.9.7/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.7/code.html" />
			<menu-entry name="Code Snapshot" href="https://github.com/g-truc/glm/archive/master.zip" />
			<menu-image name="Build Status" href="https://drone.io/github.com/g-truc/glm" img="https://drone.io/github.com/g-truc/glm/status.png" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.7/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Git Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Report Bug" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/forumdisplay.php/14-OpenGL-Toolkits-%28e-g-GLUT-GLFW-GLM%29" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>

	<version value="0.9.6">
		<menu>
			<menu-entry name="Manual" href="../0.9.6/glm-0.9.6.pdf" />
			<menu-entry name="API Documentation" href="../0.9.6/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.6/code.html" />
			<menu-entry name="Code Snapshot" href="https://github.com/g-truc/glm/archive/0.9.6.zip" />
			<menu-image name="Build Status" href="https://drone.io/github.com/g-truc/glm" img="https://drone.io/github.com/g-truc/glm/status.png" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.6/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/forumdisplay.php/14-OpenGL-Toolkits-%28e-g-GLUT-GLFW-GLM%29" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>

	<version value="0.9.5">
		<menu>
			<menu-entry name="Manual" href="../0.9.5/glm-0.9.5.pdf" />
			<menu-entry name="API Documentation" href="../0.9.5/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.5/code.html" />
			<menu-entry name="Code Snapshot" href="https://github.com/g-truc/glm/archive/0.9.5.zip" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.5/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/forumdisplay.php/14-OpenGL-Toolkits-%28e-g-GLUT-GLFW-GLM%29" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>

	<version value="0.9.4">
		<menu>
			<menu-entry name="Manual" href="../0.9.4/glm-0.9.4.pdf" />
			<menu-entry name="API Documentation" href="../0.9.4/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.4/code.html" />
			<menu-entry name="Code Snapshot" href="https://github.com/g-truc/glm/archive/0.9.4.zip" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.4/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>

	<version value="0.9.3">
		<menu>
			<menu-entry name="Manual" href="../0.9.3/glm-0.9.3.pdf" />
			<menu-entry name="API Documentation" href="../0.9.3/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.3/code.html" />
			<menu-entry name="Code Snapshot" href="https://github.com/g-truc/glm/archive/0.9.3.zip" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.3/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>

	<version value="0.9.2">
		<menu>
			<menu-entry name="Manual" href="../0.9.2/glm-0.9.2.pdf" />
			<menu-entry name="API Documentation" href="../0.9.2/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.2/code.html" />
			<menu-entry name="Snapshot" href="https://github.com/g-truc/glm/archive/0.9.2.zip" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.2/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>

	<version value="0.9.1">
		<menu>
			<menu-entry name="Manual" href="../0.9.1/glm-0.9.1.pdf" />
			<menu-entry name="API Documentation" href="../0.9.1/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.1/code.html" />
			<menu-entry name="Code Snapshot" href="https://github.com/g-truc/glm/archive/0.9.1.zip" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.1/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>

	<version value="0.9.0">
		<menu>
			<menu-entry name="Manual" href="../0.9.0/glm-0.9.0.pdf" />
			<menu-entry name="API Documentation" href="../0.9.0/api/index.html" />
			<menu-entry name="Code Samples" href="../0.9.0/code.html" />
			<menu-entry name="Snapshot" href="https://github.com/g-truc/glm/archive/0.9.0.zip" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.9.0/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/glm/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/glm" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/glm/issues" />
		</menu>

		<menu>
			<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
			<menu-entry name="GLSL Man Pages" href="http://www.opengl.org/documentation/glsl" />
			<menu-entry name="GLSL Data Types" href="http://www.opengl.org/wiki/Data_Type_%28GLSL%29" />
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>
</website>
