<?xml version="1.0" encoding="utf-8"?>

<website>
	<tab name="GLM" href="http://glm.g-truc.net" active="no" />
	<tab name="GLI" href="http://gli.g-truc.net" active="no" />
	<tab name="GLO" href="http://glo.g-truc.net" active="no" />
	<tab name="GLU" href="http://glu.g-truc.net" active="yes" />
	
	<version value="0.1.0">
    	<menu>
      		<menu-entry name="Code samples" href="../0.1.0/code.html" />
      		<menu-entry name="Snapshot" href="https://github.com/g-truc/glu/zipball/0.1.0" />
    	</menu>

    	<menu>
    		<menu-entry name="Updates" href="../0.1.0/updates.html" />
      		<menu-entry name="Downloads" href="https://sourceforge.net/projects/ogl-utility/files" />
      		<menu-entry name="Repository" href="https://github.com/g-truc/glu" />
      		<menu-entry name="Report a bug" href="https://github.com/g-truc/glu/issues" />
    	</menu>

    	<menu>
      		<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
      		<menu-entry name="GLSL man pages" href="http://www.opengl.org/documentation/glsl" />
    		<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLU" />
		</menu>
	</version>
</website>
