<?xml version="1.0" encoding="utf-8"?>

<website>
	<tab name="GLM" href="http://glm.g-truc.net" active="no" />
	<tab name="GLI" href="http://gli.g-truc.net" active="yes" />

	<version value="0.8.1">
		<menu>
			<menu-entry name="API Documentation" href="../0.8.1/api/index.html" />
			<menu-entry name="Code Samples" href="api/pages.html" />
			<menu-entry name="Snapshot" href="https://github.com/g-truc/gli/archive/master.zip" />
			<menu-image name="Build Status" href="https://drone.io/github.com/g-truc/gli" img="https://drone.io/github.com/g-truc/gli/status.png" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.8.1/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/gli/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/gli" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/gli/issues" />
		</menu>

		<menu>
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLI" />
		</menu>
	</version>

	<version value="0.8.0">
		<menu>
			<menu-entry name="API Documentation" href="../0.8.0/api/index.html" />
			<menu-entry name="Code Samples" href="api/pages.html" />
			<menu-entry name="Snapshot" href="https://github.com/g-truc/gli/archive/0.8.0.zip" />
			<menu-image name="Build Status" href="https://drone.io/github.com/g-truc/gli" img="https://drone.io/github.com/g-truc/gli/status.png" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.8.0/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/gli/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/gli" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/gli/issues" />
		</menu>

		<menu>
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLI" />
		</menu>
	</version>

	<version value="0.7.0">
		<menu>
			<menu-entry name="API Documentation" href="../0.7.0/api/index.html" />
			<menu-entry name="Code Samples" href="../0.7.0/code.html" />
			<menu-entry name="Snapshot" href="https://github.com/g-truc/gli/archive/0.7.0.zip" />
			<menu-image name="Build Status" href="https://drone.io/github.com/g-truc/gli" img="https://drone.io/github.com/g-truc/gli/status.png" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.7.0/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/gli/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/gli" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/gli/issues" />
		</menu>

		<menu>
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLI" />
		</menu>
	</version>

	<version value="0.6.1">
		<menu>
			<menu-entry name="API Documentation" href="../0.6.1/api/index.html" />
			<menu-entry name="Code Samples" href="../0.6.1/code.html" />
			<menu-entry name="Snapshot" href="https://github.com/g-truc/gli/archive/0.6.1.zip" />
			<menu-image name="Build Status" href="https://drone.io/github.com/g-truc/gli" img="https://drone.io/github.com/g-truc/gli/status.png" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.6.1/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/gli/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/gli" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/gli/issues" />
		</menu>

		<menu>
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLI" />
		</menu>
	</version>

	<version value="0.6.0">
		<menu>
			<menu-entry name="API Documentation" href="../0.6.0/api/index.html" />
			<menu-entry name="Code Samples" href="../0.6.0/code.html" />
			<menu-entry name="Snapshot" href="https://github.com/g-truc/gli/archive/0.6.0.zip" />
		</menu>

		<menu>
			<menu-entry name="Release Notes" href="../0.6.0/updates.html" />
			<menu-entry name="Downloads" href="https://github.com/g-truc/gli/releases" />
			<menu-entry name="Repository" href="https://github.com/g-truc/gli" />
			<menu-entry name="Feedback" href="https://github.com/g-truc/gli/issues" />
		</menu>

		<menu>
			<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLI" />
		</menu>
	</version>
</website>
