<?xml version="1.0" encoding="utf-8"?>

<website>
	<version value="0.5.0">
    	<menu>
      		<menu-entry name="Manual" href="../0.5.0/gli-0.5.0.pdf" />
      		<menu-entry name="API" href="../0.5.0/api/index.html" />
      		<menu-entry name="Code samples" href="../0.5.0/code.html" />
      		<menu-entry name="Snapshot" href="https://github.com/g-truc/gli/zipball/0.5.0" />
    	</menu>

    	<menu>
      		<menu-entry name="Updates" href="../0.5.0/updates.html" />
      		<menu-entry name="Downloads" href="http://sourceforge.net/projects/ogl-image/files" />
      		<menu-entry name="Repository" href="https://github.com/g-truc/gli" />
      		<menu-entry name="Report a bug" href="https://github.com/g-truc/gli/issues" />
    	</menu>

    	<menu>
      		<menu-entry name="GLSL Specification" href="http://www.opengl.org/registry/doc/GLSLangSpec.4.30.6.diff.pdf" />
      		<menu-entry name="GLSL man pages" href="http://www.opengl.org/documentation/glsl" />
    		<menu-entry name="Forum" href="http://www.opengl.org/discussion_boards/ubbthreads.php?ubb=postlist&amp;Board=10&amp;page=1" />
			<menu-entry name="Stack Overflow" href="http://stackoverflow.com/search?q=GLM" />
			<menu-entry name="OpenGL SDK page" href="http://www.opengl.org/sdk/libs/GLM/" />
		</menu>
	</version>
	
	<version value="0.4.1">
    	<menu>
      		<menu-entry name="Code samples" href="../0.4.1/code.html" />
      		<menu-entry name="Snapshot" href="https://github.com/g-truc/gli/zipball/0.4.1" />
    	</menu>

    	<menu>
      		<menu-entry name="Updates" href="../0.4.1/updates.html" />
      		<menu-entry name="Downloads" href="http://sourceforge.net/projects/ogl-image/files" />
      		<menu-entry name="Repository" href="https://github.com/g-truc/gli" />
      		<menu-entry name="Report a bug" href="https://github.com/g-truc/gli/issues" />
    	</menu>
	</version>
</website>
